--- 
title: Campaign Images
---
<div id="campaign-images" class="page">
  <h1>Campaign Images</h1>

  <div class="grid_3">
    <div class="gallery  push_right">
      <img src="/assets/img/campaign/gallery1.jpg" alt="">
      <img src="/assets/img/campaign/gallery2.jpg" alt="">
      <img src="/assets/img/campaign/gallery3.jpg" alt="">
      <img src="/assets/img/campaign/gallery4.jpg" alt="">
      <img src="/assets/img/campaign/gallery5.jpg" alt="">
      <img src="/assets/img/campaign/gallery6.jpg" alt="">
    </div>
  </div>
  <div class="grid_1">
    <p>A set of six designs used for our
      direct mail campaign, illustrating
      the beauty, quality and versatility
      of Pure Dutch.</p>
    <p>The six insects chosen for the
      campaign are species that are in
      danger of becoming extinct if we
      do not act responsibly to protect
      their environment.</p>
    <p>Pure Dutch is an FSC certified
      product.</p>
  </div>
  <div class="clear">&nbsp;</div>
</div>
