--- 
title: News 
---

<div id="contact" class="page">
  <h1>Contact</h1>

  <div class="grid_1 prefix_2" style="margin-bottom:100px;">
    <h6>HV SIER</h6>
    <p>
      Units 5 <span class="amp">&amp;</span> 6<br>
      Meridian Trading Estate<br>
      20 Bugsbys Way<br>
      London SE7 7SJ
    </p>
    <p>
      T 020 8331 2070<br>
      F 020 8331 2071<br>
      E <a href="mailto:hvsier.co.uk">info@hvsier.co.uk</a> <br>
      W <a href="http://www.hvsier.co.uk">www.hvsier.co.uk</a>
    </p>
  </div>
  <div class='clear'>&nbsp;</div>
</div>

