--- 
title: Finishing Touch
---
<div id="finishing-touch" class="page">

    <div class="grid_1">&nbsp;</div>
    <div class="grid_2">
        <img src="assets/img/finishing-touch/AbhyeetSingh.jpg" id="main-image" />
    </div>
    <div class="grid_1">
        <p>
        Examples of various stationery items, showing the variety of finishes
        and special touches available for Pure Dutch papers and cards.
        </p>
        <p>
        Business cards, letterheads and invitations all enhanced by embossing,
        die-cutting, foiling - those finishing touches that really make your
        business stand out.
        </p>
    </div>
    <div class="grid_4">
        <div class="images">
            <div class="image"><img height="35" src="assets/img/finishing-touch/AbhyeetSingh.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Como.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/CovingBurling.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Curtis.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/EEAG.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Experience.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Hvsier.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Metropolitan.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Net-A-Porter.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Outnet.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Positive.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/TheHalkin.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/TheSpeaker.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Wyman.jpg" alt=""></div>
            <div class="image"><img height="35" src="assets/img/finishing-touch/Google.jpg" alt=""></div>
        </div>

        <div class="controls">
            <a href="#" class="previous"><span>&lt;</span> PREVIOUS</a>
            &nbsp; &nbsp;
            <a href="#" class="next">NEXT <span>&gt;</span></a>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

