--- 
title: Gallery
---
<div id="gallery" class="page">
  <h1>Gallery</h1>

  <div class="grid_3">
    <div class="gallery push_right">
      <img src="/assets/img/gallery/gallery1.jpg" alt="">
      <img src="/assets/img/gallery/gallery2.jpg" alt="">
      <img src="/assets/img/gallery/gallery3.jpg" alt="">
      <img src="/assets/img/gallery/gallery4.jpg" alt="">
      <img src="/assets/img/gallery/gallery5.jpg" alt="">
      <img src="/assets/img/gallery/gallery6.jpg" alt="">
      <img src="/assets/img/gallery/gallery7.jpg" alt="">
    </div>
  </div>
  <div class="grid_1">
    <p>“A Delicate Balance” <br>
      A sculpture created using different
      weights of Pure Dutch.</p>
  </div>
  <div class="clear">&nbsp;</div>
</div>

