--- 
title: Heritage 
---
<div id="heritage" class="page">
  <h1>Heritage</h1>
  <div class="grid_1 prefix_1">
    <h2>&nbsp;<br>&nbsp;</h2>
    <img src="/assets/img/mrhvsier.jpg" alt="MR H.V. Sier"/>
  </div>
  <div class="grid_2">
    <h2>The history of HV Sier began in January 1920 when
      Herbet Vincent Sier broke away from WJ Pethybridge &amp;
      Sons to form HV Sier Paper Merchants in a basement
      building in Farringdon Street</h2>
    <div class='grid_1 inner_left'>
      <p>
        Even in those days, it would appear
        that their policy was to service
        quality sectors of business.
      </p>
      <p>
        Greetings cards - menus -
        invitations - business stationery - all
        had a requirement for quality Ivory
        Boards. The brand name Excelda
        was thus born and remained
        synonymous with quality for many
        years. In fact most printers in
        London would always associate
        Excelda Ivory Boards with HV Sier.
        Ivory Boards became a major part
      </p>
    </div>
    <div class='grid_1 inner_right'>
      <p>
        of their business and a very close
        relationship was formed with
        the original Dutch producers of
        Ivory Boards.
      </p>
      <p>
        Today, Ivory Boards continue to
        play a major part for customers
        choosing quality boards. With
        the environment playing a more
        important role than ever before.
        Excelda needed rebranding to
        reflect the purity of the product.
        Pure Dutch.
      </p>
    </div>
  </div>
  <div class='clear'>&nbsp;</div>
</div>
