--- 
title: Home
---

<div id="home" class="page">
  <h1>Home</h1>
  <div class="grid_2">
    <p>
      <img src="assets/img/home.jpg" alt="Person holding a sheet of paper" />
    </p>
  </div>
  <div class="grid_2">
    <h2>Only the best quality  papers and boards for<br />
      designers, printers and corporates.</h2>
    <div class='grid_1 inner_left'>
      <p>
        For the best part of a hundred
        years, it was hand made - a fine
        product for markets. The best
        board available.
      </p>
      <p>
        So what’s changed?<br />
        Remarkably little. Not the recipe.
        Nor the quality. Calendered to
        a remarkable smoothness, run
        a sheet of Pure Dutch between
        forefinger and thumb.
      </p>
    </div>
    <div class='grid_1 inner_right'>
      <p>
        The fingers of one hand are a fine
        judge of character.
      </p>
      <p>
        Touch tells.
      </p>
    </div>
  </div>
  <div class='clear'>&nbsp;</div>
</div>
