--- 
title: News 
---
		<div id="news" class="page">
			<h1>News</h1>

			<div class="grid_3">
				<div class="grid_2 prefix_1 inner_left" style=' margin-bottom:18px;'>
					<h4 class="orange" id="newsnavigation">
						<a><span class="orange">&lt;&nbsp;</span> Previous</a>
						<span style="inline-block;padding:0 20px;">&nbsp;</span>
						<a>Next <span class="orange">&nbsp;&gt;</span></a></h4>
				</div>
				<div class='clear'>&nbsp;</div>
	     
				
				<div class="newsitem">
					<div class="grid_2 prefix_1 inner_left">
						<h2 class="orange">HV Sier launches their comprehensive Price List with
	          voucher worth £100</h2>
	          <h4>21st November 2011</h4>
					</div>
					<div class='clear'>&nbsp;</div>
	        <div class="grid_2 inner_left">
	        	<img src="/assets/img/news/voucher.jpg" alt="" style='margin:16px 8px;'>
	        </div>
	        <div class="grid_1 inner_right">
	          <p>
	            Printing companies will have an
	            easy to read publication to keep
	            to hand for when they need a
	            range of papers and boards with
	            matching envelopes and invitation
	            blanks. The £100 voucher can be
	            used when purchasing £500 of
	            Pure Dutch not previously ordered
	            before.
	          </p>
	        </div>
				</div> <!-- End .newsitem -->
				
				
				
				<div class="newsitem">
					<div class="grid_2 prefix_1 inner_left">
	          <h2 class="orange">HV Sier launches “The Perfect Match”</h2>
	          <h4>1st November 2011</h4>
	        </div>
					<div class='clear'>&nbsp;</div>
	        <div class="grid_2 inner_left">
	        	<img src="/assets/img/news/perfectmatch.jpg" alt="" style='margin:16px 8px;'>
	        </div>
	        <div class="grid_1 inner_right">
	          <p>
	            As a follow up to our successful
	            campaign depicting endangered
	            species of insects in the UK.
	            Each recipient, whether printers,
	            designers or corporate companies
	            had the opportunity to apply for
	            the Pure Dutch Swatch books
	            giving the full range of weights and
	            shades with additional printing
	            processes.
	          </p>
	        </div>
		
				</div> <!-- End .newsitem -->


				<div class="newsitem">
					<div class="grid_1 inner_left">
			    	<img src="/assets/img/news/perfectspecimen.jpg" alt="" style="margin-top:8px;">
			    </div>
					<div class="grid_2 inner_right">
						<h2 class="orange">HV Sier launches Pure Dutch campaign “The Perfect Specimen”</h2>
			      <h4>8th October 2010</h4>
						<div class="grid_1 inner_left">
			      <p>A series of six cards depicting
			      endangered species of British
			      insects and the necessity to
			      protect their habitat.
			      </p><p>
			      Mike Rolfe, Managing Director
			      said “Pure Dutch has a heritage,
			      quality and environmental
			      credentials that fit well with
			      the campaign, enabling us to
			      demonstrate the versatility as well
			      as convey an understanding of the
			      </p></div>
			      <div class="grid_1 inner_right">
			        <p>insects that we have chosen.”
			        Mike also said “We have linked up
			        with the Woodland Trust helping
			        to raise awareness about the need
			        to protect the habitat of these
			        endangered species of insects.”
			        </p><p>
			        The set of cards will give the
			        recipient and their colleagues the
			        confidence and ideas of how Pure
			        Dutch can be used.”</p>
			      </div>
					</div>
				</div> <!-- End .newsitem -->


			</div>
			<div class="grid_1" id="newsitems">
				<h4 class="orange">Latest news</h4>
				<div id="latest-news"></div>
 				<h4 class="orange" style="margin-top:36px;">Archive</h4>
				<div id="archive"></div>
			</div>
      <div class='clear'>&nbsp;</div>  		
		</div>

