--- 
title: Paper & Boards 
---
<div id="paper-and-boards" class="page">
  <div class="grid_3 prefix_1">
    <h2>A truly unique range of papers and boards manufactured exclusively for HV Sier
      using only the finest raw materials, for over 60 years.</h2>
  </div>
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_1">
    <img src="/assets/img/papers.jpg" alt="Selection of papers" style="margin-top:18px;">
  </div>
  <div class="grid_1">
    <p>
      In today’s world, where the
      environment is of ever greater
      importance, choosing the right
      brand of paper is essential.
    </p>
  </div>
  <div class="grid_1">
    <p>
      Pure Dutch with its diverse range
      of weights, has all the quality
      credentials required to meet the
      high standards set to ensure the
      environment is protected.
    </p>
  </div>
  <div class="clear">&nbsp;</div>
</div>

