--- 
title: Prices 
---
<div id="prices" class="page">
  <h1>Prices</h1>

  <div class="grid_2 prefix_2">
    <h2>View prices</h2>
  </div>
  <div class="clear">&nbsp;</div>
  <div class="grid_1 prefix_2">
    <p>Price lists are provided in Adobe
      PDF format.</p>
    <p>Please visit <a href="http://www.adobe.com">www.adobe.com</a> if you
      require the free adobe reader to
      view our price lists.</p>
    <p>Prices are subject to change.</p>
    <p>Whilst we will make every
      endeavour to ensure current prices
      are available on this website, you
      should confirm your price at the
      time of ordering.</p>
    <p>E <span class="amp">&amp;</span> OE. Prices exclude VAT.</p>        </div>
  <div class='grid_1'>
    <dl>
      <dt>Pure Dutch Natural</dt>
      <dd><a target="_blank" href="/assets/other/pricelist_natural.pdf">View Prices</a></dd>
      <dt>Pure Dutch Oyster</dt>
      <dd><a target="_blank" href="/assets/other/pricelist_oyster.pdf">View Prices</a></dd>
      <dt>Pure Dutch Arctic</dt>
      <dd><a target="_blank" href="/assets/other/pricelist_arctic.pdf">View Prices</a></dd>
      <dt>Pure Dutch Envelopes</dt>
      <dd><a target="_blank" href="/other/pricelist_env.pdf">View Prices</a></dd>
      <dt>Pure Dutch Invitation Cards</dt>
      <dd><a target="_blank" href="/assets/other/pricelist_inv.pdf">View Prices</a></dd>
    </dl>

  </div>

  <div class='clear'>&nbsp;</div>
</div>
