--- 
title: Others | Services
---
<div id="others" class="page">
  <div class="grid_1 prefix_1">
    <h2>Gilt Edging</h2>
      <p>Invitation cards are available
        round or square cornered with a
        bevelled edge. Gilt edging can be
        either gold or silver as standard.
        Non-standard finishes and colours
        can be specified upon request by
        calling HV Sier on
        020 8331 2070.</p>
   </div>
    <div class='grid_1'>
      <h2>Textures</h2>
      <p>Available in Hammer and Linen
        as standard. Other textures are
        available upon request.</p>
    </div>
    <div class='grid_1'>
      <h2>Watermarking</h2>
      <p>Watermarks can be added to
        batches of paper for customised
        order.</p>
    </div>
  <div class="clear">&nbsp;</div>
</div>
