/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, html.no-js.loading { background:#030000 url(ribbon.jpg) bottom right fixed no-repeat; min-height:100%;}
html.no-js #container, html.no-js .page  {display:block;}
html.no-js .page {margin-top:50px;}
html.no-js .subnav {display:none;}
html.no-js .page h1 {display:block; color:#f05f0c; text-align:left; font-weight:normal;}
.page h1 {display:none;}
body { margin: 0 0 100px 0; font-size: 13px; line-height:18px; }

body, button, input, select, textarea { font-family: 'Trebuchet MS', sans-serif; color: #eee; }
h1,h2,h3,h4,h5 {font-family:Georgia, serif;}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #e47131; color: #fff; text-shadow: none; }
::selection { background: #e47131; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color:white; }
a:hover, a.active { color: #f05f0c; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr, .hr { display: block; height: 1px; border:0; background:url(hr.jpg) no-repeat center center; margin:0 0 2px 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
.nav ul, .nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }

/* =============================================================================
   Transitions
   ========================================================================== */


   a {
	-webkit-transition: all 0.2s linear;
     -moz-transition:   all 0.2s linear;
      -ms-transition:   all 0.2s linear;
       -o-transition:   all 0.2s linear;
          transition:   all 0.2s linear;}    
          
/* =============================================================================
   Primary styles
   Author: Raphael Saunier
   ========================================================================== */
   #container {display:none;}
   html.loading {background:#030000 url(loader.gif) no-repeat center center;}
   .inner_left {margin-left:0 !important;}
   .inner_right {margin-right:0 !important;}
   .float_left {float:left;width:100px;}
   .push_right {margin-left:140px;}
   .hidden {}
   .amp {font-family:cursive; font-style:italic;}
   .nav a:hover {background:#f05f0c;color:white;}
   #hvsier {background:url(hvsier.jpg) center right no-repeat; margin:30px 0 0 0; height:86px;}
   #header {margin-bottom:20px; height:200px;}
   #footer {margin:20px 0;}
   .nav ul {text-align:center;}
   .nav ul li {display:inline; line-height:24px;}
   .nav ul li a {text-transform:uppercase; padding:3px 6px; text-decoration:none; font-size:.9em;}
   p, h4, ul,dl, {line-height: 18px; font-size:13px; margin:18px 0;}
   h1 {text-align:right;}
   h2 {font-weight:normal; line-height:24px; margin:6px 0; font-size:22px; color:#fff;}
   h3 {font-weight:normal; margin-bottom:0;}
   h4 {text-transform:uppercase;color:#aaa; font-size:font-weight:normal; margin-bottom:0;}
   h4 {font-size:11px;}
   h3 + p, h3 + ul {margin-top:0;}
   h4 + p, h4 + ul {margin-top:0;}
   .page ul {list-style:disc outside; padding:0 0 0 1.5em;}
   .page a:visited {color:gray;}
   .page a:hover:visited {color:#ccc;}
   
   h6 {margin:0; font-size:1.1em; letter-spacing:.3em; font-weight:normal;}
   dt, .orange {color:#f05f0c;}
   div.field {margin:5px;}
   input.text {padding:5px;background:white;width:300px; border:0;color:black;}
   .field .error {line-height:18px; margin:1px; font-size:12px; color:red;}
   input.button {background-color:#f05f0c;border:0;padding:5px; margin:0 0 0 5px;}
   dd {margin:0 0 1em 0;}
   .page {display:none;}
   .page a {text-decoration:none;}
   #sizes_table td {vertical-align:top; text-align:left; line-height:20px;}
   td.bullet {font-size:1.7em; line-height:20px;}
   span.sheetsize {display:inline-block; width:50px;}
   td.trrule {border-top:1px solid white;}
   #home.page {display:block;}
   
   .gallery {border:1px solid white; padding:5px; position:relative;height:320px;width:480px; }
   .gallery img {position:absolute;top:5px;left:5px;}
   .gallery ul.num {position:absolute; bottom:15px; left:15px;margin:0;padding:0;}
   .gallery ul.num li {float:left; margin:5px; padding:5px;cursor:pointer; color:black; list-style:none; z-index:1000;}
   .gallery ul.num li.active {border-bottom:1px solid #f05f0c;}
   
   .gallery ul.prevnext {position:absolute; bottom:15px; right:15px;margin:0;padding:0;}
   .gallery ul.prevnext li {float:right; margin:5px; padding:5px;cursor:pointer; color:black; list-style:none; z-index:1000;}
   #main {min-height:700px;}
   .newsitem {overflow:visible; margin-bottom:60px;}
   #newsitems div {font-size:11px;}
   #news a {cursor:pointer;}
   #newsitems div p {text-transform:uppercase;color:#aaa;}

    #finishing-touch .images, #finishing-touch .controls {text-align:center;}
    #finishing-touch .controls a span {color:#e47131;}



/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
