<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js loading" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="robots" content="index,follow" />
  <meta name="description" content="HV Sier are providers of top papers and boards. Our main brand is Pure Dutch paper and Ivory Boards. We can also as supply envelopes and gilt edge invitation cards that are all FSC certified." />
  <meta name="keywords" content="paper, board, ivory board, Pure Dutch, FSC, envelopes, invitations, paper merchant, environmental, quality" />
  <meta name="author" content="Raphael Saunier, Ashwin Shaw (Two By Two Design Consultants)" />
  <meta name="google-site-verification" content="HN9lmyCfcIEjhBLrZ_vY9V4qnaM8x6-6rbXZi54qLFA" />

  <title> <%= @item[:title] %> | HVSier Paper & Boards</title>

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/assets/css/style.css" type='text/css'>
	<link rel="stylesheet" href="/assets/css/grid.css" type='text/css'>

	<link rel="shortcut icon" href="/assets/img/favicon.gif">
	<script src="/assets/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div id="container" class="container container_4">
	<div id="header" class="grid_4">
    <h1 id="hvsier"><span class="visuallyhidden">HVSier</span></h1>
    <div class="nav">
      <ul>
        <li><a href="/." data-absolute="/home">Home</a></li>
        <li><a href="/heritage.html" data-absolute="/heritage.html">Heritage</a></li>
        <li><a href="/paper-and-boards.html" data-absolute="/paper-and-boards.html" rel="paper-and-boards">Paper <span class="amp">&amp;</span> Boards</a></li>
        <li><a href="/ordersamples.asp" data-absolute="/swatch-book.html">Swatch book</a></li>
        <li><a href="/prices.html" data-absolute="/prices.html">Prices</a></li>
        <li><a href="/news.html" data-absolute="/news.html">News</a></li>
        <li><a href="/contact.html" data-absolute="/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="hr"></div>
    <div id="paper-and-boards-nav" class="nav subnav">
      <ul>
        <li><a href="/puredutch/shades.html" data-absolute="/puredutch/shades.html" rel="pure-dutch">Pure Dutch</a></li>
        <li><a href="/services.html" data-absolute="/services.html" rel="services">Services</a></li>
        <li><a href="/gallery.html" data-absolute="/gallery.html" rel="gallery" data-parents="paper-and-boards">Gallery</a></li>
      </ul>
	    <div id="pure-dutch-nav" class="nav subnav" data-parents="paper-and-boards,pure-dutch">
	      <ul>
	        <li><a href="/puredutch/shades.html" data-absolute="/puredutch/shades.html">Shades</a></li>
	        <li><a href="/puredutch/sizes.html" data-absolute="/puredutch/sizes.html">Sizes &amp; Weights</a></li>
	        <li><a href="/puredutch/techinfo.html" data-absolute="/puredutch/techinfo.html">Technical Info</a></li>
	        <li><a href="/puredutch/envelopes.html" data-absolute="/puredutch/envelopes.html">Envelopes</a></li>
	        <li><a href="/puredutch/pure_dutch_digital.html" data-absolute="/puredutch/pure_dutch_digital.html">Pure Dutch Digital</a></li>
	        <li><a href="/puredutch/digital.html" data-absolute="/puredutch/digital.html">Digital Print</a></li>
	        <li><a href="/puredutch/invitations.html" data-absolute="/puredutch/invitations.html">Invitations</a></li>
	      </ul>
	    </div>
	    <div id="gallery-nav" class="nav subnav" data-parents="paper-and-boards,gallery">
	      <ul>
	        <li><a href="/gallery.html" data-absolute="/gallery.html" >A delicate balance</a></li>
	        <li><a href="/campaign-images.html" data-absolute="/campaign-images.html">Campaign Images</a></li>
	        <li><a href="/finishing-touch.html" data-absolute="/finishing-touch.html">Finishing Touch</a></li>
	      </ul>
	    </div>
    </div>
	</div>
  <div class="clear">&nbsp;</div>
<noscript>
  <h3 style="padding:20px 0 40px 0; text-align:center;">Error: Please enable JavaScript in your browser settings to view this site</h3>
</noscript>  
	<div id="main" role="main">
    <%= yield %>
	</div>
	<div id="footer" class="grid_4">
    <div class="hr"></div>
	  <div class="nav">
	    <ul class="nav">
        <li><a href="/assets/other/termsofbusiness.pdf" 
                target="_blank" 
                title="Download Terms of Business (PDF)"
                style="color:#aaa;">Terms of Business</a></li>
      </ul>
	  </div>
	</div>
</div> <!--! end of #container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/libs/underscore-min.js"><\/script>')</script>
<script>window.jQuery || document.write('<script src="assets/js/libs/backbone-min.js"><\/script>')</script>-->

<!-- scripts concatenated and minified via ant build script-->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/script.js"></script>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-16452795-2'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
