--- 
title: Digital | Services 
---
<div id="digital" class="page">
  <h1>Digital print</h1>

  <div class="grid_4">
    <h2>Digital print</h2>
  </div>
  <div class="clear">&nbsp;</div>

  <div class="grid_1">
    <h4>Inkjet</h4>
    <p>Contactless printing by means of
      tiny ink droplets.</p>
    <h4>DI Systems</h4>
    <p>Print technology with an internal
      plate exposure, this method is the
      same as offset printing.</p>
    <h4>HP-Indigo</h4>
    <p>These systems use liquid ink, socalled
      electro ink. Many natural
      and creative papers need a primer
      pre-treatment in order to ensure
      good ink adhesion.</p>
  </div>
  <div class="grid_1">
    <h4>Nexpress</h4>
    <p>These systems belong to the colour
      toner technology but function
      on the transfer basis of rubber
      blankets and therefore
      are suitable for a wide variety
      of papers.</p>
    <h4>Colour&nbsp;Toner&nbsp;Printing&nbsp;Systems</h4>
    <p>All these systems use colour toner
      digital printing such as Xerox,
      Xeikon, Canon, Ricoh or Océ.</p>
  </div>
  <div class="grid_1">
    <h4>Indigo optimised</h4>
    <p>Primer pre-treatment is available
      upon request on Pure Dutch for
      good ink adhesion properties.
      Papers used in digital printing have
      to have the following properties:
    </p>
    <ul>
      <li>Perfect runability</li>
      <li>Low humidity tolerances</li>
      <li>Free of dust</li>
      <li>Even sheet formation</li>
      <li>Flatness</li>
      <li>Dimension stability</li>
      <li>Good toner and inkjet
        adhesion</li>
    </ul>
  </div>
  <div class="grid_1">
    <h4>&nbsp;</h4>
    <p>Factors such as climatic conditions
      in the print shop, type of printer
      or ink qualities influence the print
      quality and have to be taken into
      consideration. For this reason we
      suggest that preliminary printing
      tests are carried out.</p>
  </div>
  <div class="clear">&nbsp;</div>
</div>
