--- 
title: Envelopes | Services
---
<div id="envelopes" class="page" style="padding-top:80px;">
  <h1>Envelopes</h1>

  <div class='grid_2'>
    <img src="/assets/img/envelopes-large.jpg" alt="Pile of envelopes">
  </div>
  <div class="grid_2">
    <h2>Envelopes</h2>
    <div class='clear'>&nbsp;</div>
    
    <div class="grid_1 inner_left">
      <p>
        The most common envelope
        formats of C5 pocket super seal
        and diamond flap, DL wallet super
        seal and standard invitation’s
        4” x 6”, 5” x 7” and 6” x 8”
        Diamond flap gummed are
        machine-made, whilst other
        formats and bespoke sizes are
        hand made to order.
      </p>
      <img src="/assets/img/envelopes-picto.jpg" alt="Envelopes pictogram" />
    </div>
    <div class="grid_1 inner_right">
      <p>We also make window envelopes
      and will even create C5 and DL
      envelopes from your own printed
      sheets. Minimum orders apply in
      all cases. Please contact HV Sier
      on 020 8331 2070.
      Envelopes</p>
    </div>

  </div>
  <div class='clear'>&nbsp;</div>
</div>
