--- 
title: Invitations | Services
---
<div id="invitations" class="page">
  <h1>Invitations</h1>

  <div class="grid_2">
    <img src="/assets/img/invitations.jpg" alt="Paper invitations">
  </div>
  <div class="grid_2">
    <h2>Invitations</h2>
    <div class="inner_left grid_1">
      <p>Invitation cards are available with
        a bevelled edge, round or square
        corners. Gilt edging can be either
        gold or silver as standard. Nonstandard
        finishes and colours can
        be specified upon request.</p>
      <img src="/assets/img/invitations-picto.jpg" alt="Invitations pictogram">
      <h4>Card Sizes</h4>
      <ul>
        <li>4x6” <!--(101x152mm)--></li>
        <li>5x7” <!--(127x178mm)--></li>
        <li>6x8” <!--(152x203mm)--></li>
      </ul>
    </div>
    <div class="inner_right grid_1">
      <h4>Shades</h4>
      <ul>
        <li>Natural (white)</li>
        <li>Oyster (cream)</li>
        <li>Arctic (brilliant white)</li>
      </ul>
      <h4>Gilt Edging</h4>
      <ul>
        <li>Gold</li>
        <li>Silver</li>
        <li>Custom colours</li>
      </ul>
      <h4>Bevel Edge</h4>
      <ul>
        <li>Round corner</li>
        <li>Square corner</li>
      </ul>
      <p>Matching envelopes available.</p>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
</div>
