---
title: Pure Dutch Digital
---
<div class="page" id="pure-dutch-digital">

    <div class="grid_4" style="padding-bottom:30px;">

        <h2>Pure Dutch Digital</h2>
    </div>
    <div class="grid_3">
        <img src="/assets/img/pure-dutch-digital.jpg" alt="Digital printing station">
    </div>
    <div class="grid_1">
        <p>
            In today’s world, where the environment is of ever greater importance,
            choosing the right brand of paper is essential.
        </p>
        <p>
            Calendared to give a super smooth finish which enhances the brilliance
            and contrast on all colour laser printers and copiers, our Pure Dutch
            Digital offers a pin-sharp image every time.
        </p>
        <p>
            Pure Dutch Digital produces superior quality from high volume printers
            and copiers.
        </p>
    </div>

</div>

