--- 
title: Shades | Pure Dutch
---
<div id="pure-dutch-shades" class="page">
  <h1>Pure Dutch Shades</h1>

  <div class="grid_4">
    <h2>Corporate Image - Business Cards - Invitations - Report and Accounts - <br />
      Private Watermark - Customised Makings</h2>
    <div class='grid_1 inner_left'>
      <h3>Natural (white)</h3>
      <p>
        It’s natural white with no additives
        to brighten the sheet, and yet it
        has a beautiful appearance – a
        smoothness to the touch, and
        a snap to it, which says quality.
        When a natural white is required,
        Pure Dutch will meet all your
        expectations.
      </p>
    </div>
    <div class="grid_1">
      <h3>Oyster (cream)</h3>
      <p>
        A light, subtle shade yet solid
        in appearance with all the
        smoothness and snap of a quality
        range of papers and boards.
      </p>
    </div>
    <div class='grid_1'>
      <h3>Arctic (brilliant white)</h3>
      <p>
        A whiter, brighter shade, sharper
        in appearance, retaining the
        smoothness and snap that gives
        the range its quality and its
        contrast to Natural white.
      </p>
    </div>
    <div class='grid_1 inner_right'>
      <h3>Digital (super smooth)</h3>
      <p>
        Calendared to give a super smooth finish which enhances the brilliance and contrast on all colour laser printers and copiers, our Pure Dutch Digital offers a pin-sharp image every time. Pure Dutch Digital produces superior quality from high volume printers and copiers.
      </p>
    </div>
    <div class='clear'>&nbsp;</div>

    <div class='grid_1 inner_left'>
      <img src="/assets/img/natural.jpg" alt="Natural paper">
    </div>
    <div class="grid_1">
      <img src="/assets/img/oyster.jpg" alt="Oyster paper">
    </div>
    <div class='grid_1'>
      <img src="/assets/img/arctic.jpg" alt="Arctic paper">
    </div>
    <div class='grid_1 inner_right'>
      <img src="/assets/img/digital.jpg" alt="Arctic paper">
    </div>
  </div>
  <div class='clear'>&nbsp;</div>
</div>
