--- 
title: Sizes and Weights | Pure Dutch
---
<div id="pure-dutch-sizes-and-weights" class="page">
  <h1>Pure Dutch Sizes <span class="amp">&amp;</span> Weights</h1>

  <div class="grid_4">
    <table style="width:660px;margin:0 0 0 100px" border="0" cellpadding="0" cellspacing="0" id="sizes_table">
      <tr style="color:#aaa;">
        <td width="18.5%" rowspan="2"><h3>Shade</h3></td>
        <td width="18.5%"><h3>Sheet Size (mm)</h3></td>
        <td colspan="9"><h3>Grammage (GSM)</h3></td>
      </tr>
      <tr>
        <td width="14%"><h3></h3></td>
        <td width="7%">120</td>
        <td width="7%">150</td>
        <td width="7%">225</td>
        <td width="7%">280</td>
        <td width="7%">335</td>
        <td width="7%">400</td>
        <td width="7%">490</td>
        <td width="7%">600</td>
        <td width="7%">700</td>
      </tr>
      <tr>
        <td height="5" colspan="11" class="" ></td>
      </tr>
      <tr>
        <td width="14%" rowspan="5">Natural <br>(white)</td>
        <td width="14%"><span class="sheetsize">SRA3</span> 320x450</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%"><span class="sheetsize">SRA2</span> 450x640</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%">&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%"><span  class="sheetsize">B2</span> 520x720</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%"><span class="sheetsize">Royal</span> 520x640</td>
        <td width="8%">&nbsp;</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
      </tr>
      <tr>
        <td width="14%"><span class="sheetsize">B1</span> 720x1020</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="5" colspan="11" class="trrule" ></td>
      </tr>
      <tr>
        <td width="14%" rowspan="4">Oyster <br>(cream)</td>
        <td width="14%"><span class="sheetsize">SRA3</span> 320x450</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%"><span class="sheetsize">SRA2</span> 450x640</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
      </tr>
      <tr>
        <td width="14%"><span class="sheetsize">B2</span> 520x720</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%"><span  class="sheetsize">B1</span> 720x1020</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="5" colspan="11" class="trrule" ></td>
      </tr>



      <tr>
        <td width="14%" rowspan="4">Arctic <br> (brilliant white)</td>
        <td width="14%"><span  class="sheetsize">SRA3</span> 320x450</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%"><span  class="sheetsize">SRA2</span> 450x640</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
      </tr>
      <tr>
        <td width="14%"><span  class="sheetsize">B2</span> 520x720</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%"><span class="sheetsize">B1</span> 720x1020</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td height="5" colspan="11" class="trrule" ></td>
      </tr>
      <tr>
        <td width="14%" rowspan="2">Textures<span class="amp">*</span> &amp; Watermarking<span class="amp">*</span></td>
        <td width="14%">&nbsp;</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14%">&nbsp;</td>
        <td width="8%" class="bullet">•</td>
        <td width="8%" class="bullet">•</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="5" colspan="11" class="trrule" ></td>
      </tr>
      <tr>
        <td width="14%" class="grey style1">Packed</td>
        <td width="14%">&nbsp;</td>
        <td width="8%">250</td>
        <td width="8%">250</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>100</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td colspan="12">
          <p style="color:#aaa;">* See stock charts for sheet size and shades</p>
        </td>
      </tr>
    </table>
  </div>
  <div class='clear'>&nbsp;</div>
</div>
