--- 
title: Technical Info | Pure Dutch
---
<div id="pure-dutch-technical-info" class="page">
  <h1>Pure Dutch Technical Info</h1>
  <div class="grid_4">
    <h2>&nbsp;</h2>
  </div>
  <div class='clear'>&nbsp;</div>
  <div class='grid_1'>
    <div class="float_left">
      <h4>Shades</h4>
      <p>Natural <br>
        Oyster <br>
        Arctic</p>
    </div>
    <div class="float_left">
      <h4>Weights (GSM)</h4>
      <p>120 <br>
        150 <br>
        225 <br>
        280 <br>
        335 <br>
        400 <br>
        490 <br>
        600 <br>
        700</p>
    </div>
  </div>
  <div class="grid_1">
    <h4>Approved printing processes</h4>
    <p>
      Offset (dry and wet) <br>
      Digital <br>
      Silk Screen <br>
      Colour Copier <br>
      Laser Printer	<br>
      Thermal Transfer
    </p>
  </div>
  <div class='grid_1'>
    <h4>Approved finishes</h4>
    <p>
      Letterpress <br>
      Die Stamping <br>
      Copperplate <br>
      Thermography <br>
      Blind Die Embossing <br>
      Hot Foil Stamping
    </p>
  </div>
  <div class='grid_1'>
    <h4>Certification</h4>
    <p>
      FSC, mixed credit (material) <br>
      Elemental Chlorine Free (ECF) <br>
      Archive Resistant <br>
      Ageing Resistant DIN ISO 9706
    </p>
    <img src="/assets/img/certifications.jpg" alt="FSC, ECF, Archive Quality, DIN ISO 9706 certifications">
  </div>
  <div class='clear'>&nbsp;</div>
</div>
